body {background: #e0e0ff; color: #000000}

@media print {
   body {background: #ffffff}
}

a:link    {color: #0000ff}
a:visited {color: #4040c0}
a:hover   {color: #ff0000}
a:active  {color: #ff00ff}

@media print {
   a:link    {color: #0000ff}
   a:visited {color: #0000ff}
   a:hover   {color: #0000ff}
   a:active  {color: #0000ff}
}

.navigation {
   float: left;
   background: #ffffe0;
   padding: 0.5em 1em;
   border: thin solid;
   margin: 0em 2em 1em 0em;
}

@media print {
   .navigation {display: none}
}

h1 {
   background: #ffffff;
   padding: 0.5em 1em;
   font: bold x-large sans-serif;
   text-align: center;
}

h2 {
   background: #ffffff;
   padding: 0.5em 1em;
   font: bold x-large sans-serif;
   text-align: left;
}

h3 {
   background: #ffffff;
   padding: 0.5em 1em;
   margin-left: 5%;
   margin-right: 5%;
   font: bold large sans-serif;
   text-align: left;
}

code {font-family: monospace}
.rule {word-spacing: 0.3em}
h3.code {font-family: monospace; font-weight: normal}
h3.rule {font-family: monospace; font-weight: normal}

.char {color: #800000}
.syntax {color: #000080}
.syntax-dfn {color: #000080; font-weight: bold}
.keyword {color: #c00080}
.keyword-dfn {color: #c00080; font-weight: bold}
.name {color: #800000}
.name-dfn {color: #800000; font-weight: bold}
.param {color: #008000; font-style: italic}
.param-dfn {color: #004000; font-style: italic; font-weight: bold}
.skip {color: #808080; font-weight: bold}
.comment {color: #000000; font-style: italic}

.highlight {background: #ffffff}
.example   {font-style: italic; margin-left: 5%; margin-right: 5%}
.rationale {font-style: italic; margin-left: 5%; margin-right: 5%}
.note      {font-style: italic; margin-left: 5%; margin-right: 5%}

pre.code {
   background: #ffffff;
   color: #800000;
   padding: 0.5em 1em;
   margin-left: 5%;
   margin-right: 5%;
}

dfn {font-weight: bold; font-style: inherit}

table {border-collapse: collapse; margin-left: 5%; margin-right: 5%}
td {border: thin solid; padding: 0.2em 0.4em}

sup {vertical-align: 40%; font-size: 70%}
sub {vertical-align: -20%; font-size: 70%}
